{% load i18n %}{% autoescape off %}Abbiamo ricevuto una richiesta di ripristino della password associata a questo indirizzo e-mail. Se hai inviato la richiesta, segui le istruzioni riportate di seguito. Per reimpostare la tua password tramite il nostro server sicuro, clicca su:
{% block reset_link %}
  {{ protocol }}://{{ domain }}{% url 'profile:auth_password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

Se non hai richiesto il ripristino della password, ignora questa e-mail. Se il link non funziona, puoi copiarlo ed incollarlo o digitarlo nuovamente nella barra degli indirizzi del tuo browser. Una volta su Bauzaar.it, ti daremo istruzioni per reimpostare la password. Bauzaar.it non invia e-mail chiedendoti di divulgare o controllare la tua password, il numero della tua carta di credito o del tuo conto corrente. Se ricevi un' e-mail sospetta che richiede di accedere ad una pagina per aggiornare i dati relativi al tuo account, non cliccare sul link, ma inoltra subito l'e-mail ad Bauzaar.it per consentirci di fare delle verifiche. Grazie per avere visitato Bauzaar.it!
{% trans "Thanks for using our site!" %}

Team Bauzaar
{% endautoescape %}