<!-- inject:base:css --><!-- endinject -->

{% extends 'mail_system/inlined/transactional/_extend/base.html' %}
{% load email_url %}

{% block content %}

    <tr>
        <td>
            <h1 class="wording__title wording__title--h1 no-mg-b" style="color: #445566; font-family: helvetica, sans-serif; font-size: 24px; line-height: 30px; margin-bottom: 0; padding-left: 20px; padding-right: 20px; text-align: center;">
                <b>Conferma Registrazione</b>
            </h1>

            <h3 class="wording__title wording__title--h3 no-mg-t" style="color: #445566; font-family: helvetica, sans-serif; font-size: 18px; font-weight: normal; line-height: 26px; margin-top: 0; padding-left: 20px; padding-right: 20px; text-align: center;">
                Cliente {{ cliente.email }}
            </h3>
        </td>
    </tr>
    <tr>
        <td valign="middle" align="center" class="wording__text devicewidthtext" style="background-color: #ffffff; color: #445566; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 22px; padding-left: 20px; padding-right: 20px; text-align: left;">
            Benvenuto in Bauzaar! Non dimenticare di utilizzare il codice
            <b>{{ settings.CODICE_COUPON_BENVENUTO }}</b>
            valido al tuo primo ordine.
            <br>
            Potrai utilizzare il codice accedendo al carrello.
            <br>
            <br>

            Se in futuro vorrai modificare i tuoi dati, troverai tutte le informazioni necessarie accedendo al
            tuo
            <a href="{% get_email_url 'user_admin:index' cliente %}" target="_blank" style="color: #00adef; text-decoration: none;">
                Profilo
            </a>
            .
            <br>
            <br>
            Per domande siamo a tua disposizione, in ogni momento, attraverso il nostro
            <a href="mailto:{{ settings.MAIL_SERVIZIO_CLIENTI }}" target="_blank" style="color: #00adef; text-decoration: none;">
                Servizio Clienti
            </a>
            , che risponderà
            il prima possibile.
            <br>
            <br>
            <b>Ti auguriamo buon divertimento con lo shopping su Bauzaar!</b>
        </td>
    </tr>

{% endblock %}