<!-- inject:base:css --><!-- endinject -->

{% extends 'mail_system/inlined/transactional/_extend/base.html' %}
{% load email_url %}

{% block content %}

    <tr>
        <td valign="middle" align="left">
            <h1 class="wording__title wording__title--h1 no-mg-b">
                <b>Conferma Spedizione</b>
            </h1>

            <h3 class="wording__title wording__title--h3 no-mg-t">
                Cliente {{ cliente.email }}
            </h3>
        </td>
    </tr>
    <tr>
        <td valign="middle" align="center" class="wording__text devicewidthtext">
            Gentile {{ cliente.nominativo }},
            Ti informiamo che il tuo ordine
            <b>{{ ordine.codice }}</b>
            è stato
            <b>spedito</b>
            .
        </td>
    </tr>
    <tr>
        <td width="100%" height="5" align="center" class="spacing">
            &nbsp;
        </td>
    </tr>
    {% if document_url %}
    <tr>
        <td valign="middle" align="center" class="wording__text text-center devicewidthtext">
            <a href="{{ document_url }}">Clicca qui per scaricare la tua ricevuta fiscale o fattura.</a>
        </td>
    </tr>
    <tr>
        <td width="100%" height="5" align="center" class="spacing">
            &nbsp;
        </td>
    </tr>
    {% endif %}
    <tr>
        <td valign="middle" align="justify" class="wording__text devicewidthtext">
            <span class="text-center">

            </span>
            <b>Per tracciare lo stato e la posizione del tuo pacco
                <a href="{{ ordine.link_tracking }}">
                    clicca qui
                </a>
            </b>
            .
            <br/>
            Il link per la tracciabilità, sarà utilizzabile entro 12 ore.
            Da questo momento in poi non
            è più possibile apportare alcuna modifica. Se desideri restituire un articolo, visualizzare o
            modificare altri ordini, entra nel tuo
            <a href="{% get_email_url 'user_admin:index' cliente %}&ordine={{ ordine.id }}" target="_blank">
                Profilo
            </a>
            su Bauzaar.it
        </td>
    </tr>
    <tr>
        <td width="100%" height="15" align="center" class="spacing">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td valign="middle" align="center"
            class="wording__text wording__text--bordered text-center devicewidthtext bg-light-gray">
            <b>Ordine spedito a:</b>
            <br/>
            {% with ordine.indirizzo_ordine_sped as indirizzo_sped %}
                {% include 'mail_system/inlined/transactional/_include/spedito_a.html' %}
            {% endwith %}
        </td>
    </tr>
    <tr>
        <td width="100%" height="15" align="center" class="spacing">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td valign="middle" align="justify" class="wording__text devicewidthtext">
            Il tuo ordine verrà consegnato dal nostro corriere.
            Se il link per la tracciabilità non dovesse funzionare potrai richiederlo scrivendo a
            <a href="mailto:{{ settings.MAIL_SERVIZIO_CLIENTI }}" target="_blank">
                {{ settings.MAIL_SERVIZIO_CLIENTI }}
            </a>
            o
            contattandoci telefonicamente chiamando il numero
            <b>(+39) {{ settings.CUSTOMER_CARE_PHONE }}</b>
            .
        </td>
    </tr>
    <tr>
        <td valign="top" align="left"
            class="wording__text nested-table-container devicewidthtext">
            <h3 class="wording__title wording__title--h3 text-color-orange">
                <b>Dettagli Ordine</b>
            </h3>
            {% with ordine as basket %}
                {% with ordine.rigaordine_set.all as righe_contenuto %}
                    {% include 'mail_system/inlined/transactional/_include/contenuto_ordine.html' %}
                {% endwith %}
            {% endwith %}
        </td>
    </tr>
    <tr>
        <td width="100%" height="15" class="spacing">&nbsp;</td>
    </tr>
    <tr>
        <td valign="top" align="justify" class="wording__text devicewidthtext">
            Se hai bisogno del nostro supporto, visita la
            <a href="{aiuto_url}" target="_blank">
                Pagina d'aiuto
            </a>
            o contatta il nostro Servizio Clienti all'indirizzo
            <a href="mailto:{{ settings.MAIL_SERVIZIO_CLIENTI }}" target="_blank">
                {{ settings.MAIL_SERVIZIO_CLIENTI }}
            </a>
            .
            <br/>
            Buon Appetito,
            <br/>
            <b>
                <i>Il Team di Bauzaar</i>
            </b>

        </td>
    </tr>
    <!-- Spacing -->
    <tr>
        <td width="100%" height="15"
            class="spacing">
            &nbsp;</td>
    </tr>
    <!-- Spacing -->
    {% include 'mail_system/inlined/transactional/_include/sales_conditions.html' %}

{% endblock %}