<!-- inject:base:css --><!-- endinject -->

{% load email_url %}

<!-- @start: footer
///////////////////////////////////////////////////////////////////////////// -->

<table width="640" cellpadding="0" cellspacing="0" border="0" align="center"
       class="footer section devicewidth">
    <tr>
        <td width="100%">
            <table bgcolor="#ffffff" width="640" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="footer__outer devicewidth">
                <tr>
                    <td align="center">
                        <table align="center" cellpadding="0" cellspacing="0" border="0"
                               class="footer__inner devicewidth">

                            <!-- content -->
                            <tr>
                                <td width="100%" height="20" class="spacing">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="100%" height="1" bgcolor="#dedede" class="spacing">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" height="20" class="spacing">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center"
                                    class="footer__inner__text devicewidthtext text-color--gray">
                                    <strong class="text-color--orange">Bauzaar</strong>
                                    &egrave; il tuo negozio online di quartiere
                                    <br/>

                                    Siamo il primo negozio online ad offrirti un servizio speciale:
                                    organizza con noi le spedizioni.
                                    <br/>
                                    Segui il pazzo mondo degli amici a quattro zampe sui nostri social.
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" height="22" class="spacing">&nbsp;</td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- @end: footer -->
