<!-- inject:base:css --><!-- endinject -->

{% load email_url %}

<!-- @start: header
///////////////////////////////////////////////////////////////////////////// -->

<table width="640" cellpadding="0" cellspacing="0" border="0" align="center"
       class="header section devicewidth">
    <tr>
        <td width="100%">
            <table bgcolor="#FF8000" width="640" align="center" cellspacing="0" cellpadding="0" border="0"
                   class="header__outer devicewidth">
                <tr>
                    <!-- starter image -->
                    <td align="center" height="8"
                        class="header__inner header__starter-image">
                        &nbsp;
                    </td>
                </tr>
            </table>

            <table bgcolor="#FFFFFF" width="640" align="center" cellspacing="0" cellpadding="0" border="0"
                   class="header__outer devicewidth">

                <tr>
                    <td width="640" align="center">
                        <table width="190" align="left" cellpadding="0" cellspacing="0" border="0"
                               class="header__logo devicewidth">
                            <tr>
                                <td valign="middle" align="center">
                                    <a href="{% if cliente %}{% build_email_url settings.SITE_URL cliente %}{% else %}{{ settings.SITE_URL }}{% endif %}" target="_blank">
                                        <img width="150" src="{{ settings.SITE_URL }}/static/images/logo_mail.gif"
                                             alt="Bauzaar" border="0"/>
                                    </a>
                                </td>
                            </tr>
                        </table>

                        <!--[if mso]></td><td><![endif]-->

                        <table width="410" align="right" cellpadding="0" cellspacing="0" border="0"
                               class="header__usp devicewidth">
                            <tr>
                                <td width="12" height="65">&nbsp;</td>
                                <td height="65" valign="middle" align="center">
                                    <table width="100%" border="0" cellpadding="0"
                                           cellspacing="0" align="center">
                                        <tr>
                                            <td class="header__usp__icon" align="right"
                                                valign="middle">
                                                <a href="{% if cliente %}{% get_email_url 'flat_pages:processing_time' cliente %}{% else %}{{ settings.SITE_URL }}{% url 'flat_pages:processing_time' %}{% endif %}"
                                                   target="_blank">
                                                    <img width="44" height="38" border="0"
                                                         src="http://media.sailthru.com/3m9/1jz/7/2/5594fa643c889.png"
                                                         alt="info sulla spedizione"/>
                                                </a>
                                            </td>
                                            <td class="header__usp__text" align="left" valign="middle">
                                                <a href="{% if cliente %}{% get_email_url 'flat_pages:processing_time' cliente %}{% else %}{{ settings.SITE_URL }}{% url 'flat_pages:processing_time' %}{% endif %}"
                                                   target="_blank">
                                                    Spedizione Gratuita
                                                    <br/>
                                                    sopra i {{ settings.SPESE_SPEDIZIONE_THRESHOLD|stringformat:'.0f' }}&euro;
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td height="65" valign="middle" align="center">
                                    <table width="100%" border="0" cellpadding="0"
                                           cellspacing="0" align="center">
                                        <tr>
                                            <td class="header__usp__icon" align="right">
                                                <a href="{% if cliente %}{% get_email_url 'flat_pages:security' cliente %}{% else %}{{ settings.SITE_URL }}{% url 'flat_pages:security' %}{% endif %}#metodi-di-pagamento"
                                                   target="_blank">
                                                    <img width="44" height="38" border="0"
                                                         src="http://media.sailthru.com/3m9/1jz/7/2/5594fa5946a89.png"
                                                         alt="info sul pagamento"/>
                                                </a>
                                            </td>
                                            <td class="header__usp__text" align="left">
                                                <a href="{% if cliente %}{% get_email_url 'flat_pages:security' cliente %}{% else %}{{ settings.SITE_URL }}{% url 'flat_pages:security' %}{% endif %}#metodi-di-pagamento"
                                                   target="_blank">
                                                    Reso entro
                                                    <br/>
                                                    30 giorni
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td height="65" valign="middle" align="center">
                                    <table width="100%" border="0" cellpadding="0"
                                           cellspacing="0" align="center">
                                        <tr>
                                            <td class="header__usp__icon" align="right">
                                                <a href="{% if cliente %}{% build_email_url settings.SITE_URL cliente %}{% else %}{{ settings.SITE_URL }}{% endif %}"
                                                   target="_blank">
                                                    <img width="44" height="38" border="0"
                                                         src="http://media.sailthru.com/3m9/1jz/7/2/5594fa643c889.png"
                                                         alt="programma fedeltà"/>
                                                </a>
                                            </td>
                                            <td class="header__usp__text" align="left">
                                                <a href="{% if cliente %}{% build_email_url settings.SITE_URL cliente %}{% else %}{{ settings.SITE_URL }}{% endif %}"
                                                   target="_blank">
                                                    5% di sconto
                                                    <br/>
                                                    al primo ordine
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="12" height="65">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>

</table>

<!-- @end: header -->