<!-- inject:base:css --><!-- endinject -->

{% extends 'mail_system/inlined/transactional/_extend/base.html' %}
{% load email_url %}

{% block content %}

    <tr>
        <td>
            <h1 class="wording__title wording__title--h1 no-mg-b" style="color: #445566; font-family: helvetica, sans-serif; font-size: 24px; line-height: 30px; margin-bottom: 0; padding-left: 20px; padding-right: 20px; text-align: center;">
                <b>Dimenticato nulla?</b>
            </h1>

            <h3 class="wording__title wording__title--h3 no-mg-t" style="color: #445566; font-family: helvetica, sans-serif; font-size: 18px; font-weight: normal; line-height: 26px; margin-top: 0; padding-left: 20px; padding-right: 20px; text-align: center;">
                Ciao {{ cliente.nome }}!
            </h3>
        </td>
    </tr>
    {% with abbandonato.carrello as basket %}
    <tr>
        <td valign="middle" align="center" class="wording__text devicewidthtext" style="background-color: #ffffff; color: #445566; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 22px; padding-left: 20px; padding-right: 20px; text-align: left;">
            {% if not abbandonato.wording_custom %}
            Abbiamo trovato il tuo carrello e l'abbiamo messo da parte. <br>
            Hai ancora tempo per fare felice il tuo amico a quattro zampe!<br>
            <br>
            {% if basket.coupon %}
                {% ifequal basket.coupon.codice settings.CODICE_COUPON_BENVENUTO %}
                    Hai a disposizione uno sconto del <b>{{ settings.PERCENT_COUPON_BENVENUTO|floatformat:"" }}%</b> per il tuo primo ordine.
                {% else %}
                Ti abbiamo riservato un codice di sconto del <b>{{ basket.coupon.percentuale|floatformat:"" }}%</b> valido per 3 giorni:
                <b>{{ basket.coupon.codice }}</b>
                {% endifequal %}
                <br>
                Lo troverai già applicato quando accederai al sito.
            {% endif %}

            Affrettati prima che sia troppo tardi!
            {% else %}
                {{ abbandonato.wording_custom }}
            {% endif %}

            <br>
            <br>
            Hai bisogno di una mano a completare l'ordine?<br>
            Contatta il nostro <a href="mailto:{{ settings.MAIL_SERVIZIO_CLIENTI }}" target="_blank" style="color: #00adef; text-decoration: none;">
                servizio clienti
            </a> allo {{ settings.CUSTOMER_CARE_PHONE }} e Roberta sarà felice di aiutarti.
        </td>
    </tr>
    <tr>
        <td valign="top" align="left" class="wording__text nested-table-container devicewidthtext" style="background-color: #ffffff; color: #445566; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 22px; padding-left: 0; padding-right: 0; text-align: left;">
            <h3 class="wording__title wording__title--h3 text-color-orange" style="color: #FC531E; font-family: helvetica, sans-serif; font-size: 18px; font-weight: normal; line-height: 26px; padding-left: 20px; padding-right: 20px; text-align: center;">
                <b>Dettagli Carrello</b>
            </h3>
            {% with basket.rigacarrello_set.all as righe_contenuto %}
                {% include 'mail_system/inlined/transactional/_include/contenuto_carrello.html' %}
            {% endwith %}
        </td>
    </tr>
    {% endwith %}
    <tr>
        <td align="center">
            <br>
            <table width="250" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidthcta" style="border-collapse: collapse; margin: 0 auto; mso-table-lspace: -1pt; mso-table-rspace: -1pt;">

                <tr>
                    <td class="btn btn--orange btn--square" style="-moz-border-radius: 6px; -webkit-border-radius: 6px; background: #FC7B1E; border-collapse: collapse; border-radius: 0px; font-size: 18px; height: 45px; line-height: 18px; text-align: center; width: 250px;">
                        <a href="{% get_email_url 'cart:checkout' cliente %}" target="_blank" class="btn__link" style="color: #ffffff; display: block; font-family: helvetica, sans-serif; font-size: 18px; line-height: 18px; padding: 12px 10px; text-decoration: none;">
                            <strong>Continua lo shopping ►</strong>
                        </a>
                    </td>
                </tr>

            </table>
        </td>
    </tr>

{% endblock %}