//------------------------------------
//  $Margin
//------------------------------------

.o--margin--0 {
  margin: 0 !important;
}

.o--margin--v-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.o--margin--h-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.o--margin--t-0 {
  margin-top: 0 !important;
}

.o--margin--r-0 {
  margin-right: 0 !important;
}

.o--margin--b-0 {
  margin-bottom: 0 !important;
}

.o--margin--l-0 {
  margin-left: 0 !important;
}

/*  XSmall
---------------------*/

.o--margin--v-xs {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.o--margin--h-xs {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.o--margin--t-xs {
  margin-top: 5px !important;
}

.o--margin--r-xs {
  margin-right: 5px !important;
}

.o--margin--b-xs {
  margin-bottom: 5px !important;
}

.o--margin--l-xs {
  margin-left: 5px !important;
}