//------------------------------------
//    $Padding
//------------------------------------

.o--padding--0 {
  padding: 0 !important;
}

.o--padding--v-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.o--padding--h-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.o--padding--t-0 {
  padding-top: 0 !important;
}

.o--padding--r-0 {
  padding-right: 0 !important;
}

.o--padding--b-0 {
  padding-bottom: 0 !important;
}

.o--padding--l-0 {
  padding-left: 0 !important;
}